# =============== #

# Unity generated #

# =============== #

Temp/

Obj/

UnityGenerated/

Library/

WebPlayer/

Build/

Builds/

Logs/

UserSettings/

# ===================================== #

# Visual Studio / MonoDevelop generated #

# ===================================== #

ExportedObj/

.vs/

*.svd

*.userprefs

*.csproj

*.pidb

*.suo

*.sln

*.user

*.unityproj

*.booproj


# ============ #

# OS generated #

# ============ #

.DS_Store

.DS_Store?

._*

.Spotlight-V100

.Trashes

ehthumbs.db

Thumbs.db
ForProfiler_Data/

# ============ #

# Build folders #

# ============ #

js/

bin/
/Assets/Modern UI Pack
